<div>
    <h2 id="page-heading">
        <span jhiTranslate="propsyBackendJwtApp.food.home.title">Foods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food" [routerLink]="['/food/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="propsyBackendJwtApp.food.home.createLabel">
            Create new Food
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.nameSlug">Name Slug</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.price">Price</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.foodDescription">Food Description</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.calories">Calories</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.isSpicy">Is Spicy</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.isVegetarian">Is Vegetarian</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.isGlutenFree">Is Gluten Free</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.food.photoBlob">Photo Blob</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let food of foods ;trackBy: trackId">
                <td><a [routerLink]="['/food', food.id, 'view' ]">{{food.id}}</a></td>
                <td>{{food.nameSlug}}</td>
                <td>{{food.price}}</td>
                <td>{{food.foodDescription}}</td>
                <td>{{food.calories}}</td>
                <td>{{food.isSpicy}}</td>
                <td>{{food.isVegetarian}}</td>
                <td>{{food.isGlutenFree}}</td>
                <td>
                    <a *ngIf="food.photoBlob" (click)="openFile(food.photoBlobContentType, food.photoBlob)">
                        <img [src]="'data:' + food.photoBlobContentType + ';base64,' + food.photoBlob" style="max-height: 30px;" alt="food image"/>
                    </a>
                    <span *ngIf="food.photoBlob">{{food.photoBlobContentType}}, {{byteSize(food.photoBlob)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food/'+ food.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
