<div>
    <h2 id="page-heading">
        <span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.home.title">Food Order Movements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food-order-movement" [routerLink]="['/food-order-movement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="propsyBackendJwtApp.foodOrderMovement.home.createLabel">
            Create new Food Order Movement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foodOrderMovements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.date">Date</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.latitude">Latitude</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.longitude">Longitude</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.sender">Sender</span></th>
            <th><span jhiTranslate="propsyBackendJwtApp.foodOrderMovement.foodOrder">Food Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foodOrderMovement of foodOrderMovements ;trackBy: trackId">
                <td><a [routerLink]="['/food-order-movement', foodOrderMovement.id, 'view' ]">{{foodOrderMovement.id}}</a></td>
                <td>{{foodOrderMovement.date | date:'mediumDate'}}</td>
                <td>{{foodOrderMovement.latitude}}</td>
                <td>{{foodOrderMovement.longitude}}</td>
                <td jhiTranslate="{{'propsyBackendJwtApp.FoodOrderParticipant.' + foodOrderMovement.sender}}">{{foodOrderMovement.sender}}</td>
                <td>
                    <div *ngIf="foodOrderMovement.foodOrder">
                        <a [routerLink]="['../food-order', foodOrderMovement.foodOrder?.id, 'view' ]" >{{foodOrderMovement.foodOrder?.address}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/food-order-movement', foodOrderMovement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food-order-movement', foodOrderMovement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food-order-movement/'+ foodOrderMovement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
